.App{
    width: 90vw;
}
.bar{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cit{
    margin-left: 70px;
}
.cit2{
    transform: translate(0px,0px);
}
.mybox{
    transform: translate(60px,70px);
}
.btn1{
    transform: translate(1180px,10px);
    background-color: #016232;
    width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.btn1 button{
    color: white;
}

.Selects{
    width: 30%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    transform: translate(80px,0px);
}


.Chaussures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
    margin-left: 50px;
}  
.marqbox{
    transform: translate(80px, 120px);
    width: 100%;
    height: 40vh;
    
}
.marq{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forms{
    transform: translate(50px, 100px);
}

.cards{
    width: 348px;
}